{% extends 'base.html.twig' %}

{% block title %}Hello ComboController!
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="row mb-4">
			<form action="{{path('app_user_update')}}" method="post" enctype="multipart/form-data">
				<input class="form-control mb-1" type="file" name="image">
				<input class="form-control mb-1" type="date" id="datepicker">
				<input class="form-control mb-1" type="text" id="birds" size="50">
				<select class="form-control mb-1"  id="pais" name="pais"></select>
				<select class="form-control mb-1"  id="departamento" name="departamento"></select>
				<select class="form-control mb-1"  id="municipio" name="municipio"></select>
				<button class="btn btn-primary mb-1"  type="submit">submir</button>
			</form>
		</div>

	</div>


{% endblock %}

{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('combo') }}
	<script>
		const rutes = {
pais:"{{ path('app_combo_pais') }}",
departamento:"{{ path('app_combo_departamento') }}",
municipio:"{{ path('app_combo_municipio') }}"
};
	</script>

{% endblock %}
