{% extends 'base.html.twig' %}

{% block title %}Hello ComboController!
{% endblock %}

{% block body %}
	<div class="bd-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
		<button class="btn btn-sm btn-link p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
			Combos
			<svg class="bi d-md-none ms-2" aria-hidden="true">
				<use xlink:href="#chevron-expand"></use>
			</svg>
		</button>
		<strong class="d-none d-md-block h6 my-2 ms-3">lista combos</strong>
		<hr class="d-none d-md-block my-2 ms-3">
		<div class="collapse bd-toc-collapse" id="tocContents">
			<nav id="TableOfContents" class="ps-5">
				<ul>
					<li><a href="#table_paises" class="active">paises</a></li>
					<li><a href="#table_departamento">Departamento</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div
		class="bd-content ps-lg-2">
		<!-- Table form paises -->
		<table id="table_paises"></table>
		<!-- Modal form paises -->
		<div class="modal fade" id="modalPaises" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPaisesLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalPaisesLabel">paises</h5>
					</div>
					<div class="modal-body">
						<form id="form_paises">
							<div class="mb-3">
								<input type="hidden" name="id" id="id_pais" value="0">
								<input type="text" name="name" class="form-control form-control-sm" id="pais" required placeholder="nombre del pais">
							</div>
							<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
							<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Table form departamentos -->
		<table id="table_departamento"></table>
		<!-- Modal form departamentos -->
		<div class="modal fade" id="modalDepartamento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDepartamentoLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalDepartamentoLabel">Departamentos</h5>
					</div>
					<div class="modal-body">
						<form id="form_departamento">
							<div class="mb-3">
								<input type="hidden" name="id" id="id_departamento" value="0">
								<input type="text" name="name" class="form-control form-control-sm mb-1" id="departamento" required placeholder="nombre del departamento">
								<select id="select_pais" name="id_pais" class="form-control form-control-sm"></select>
							</div>
							<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
							<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('combo') }}
	<script>
		const rutes = {
list_combo_paises:'{{ path('app_combo_paises') }}',
list_paises:'{{ path('app_combo_list_crud_pais') }}',
crud_pais:'{{ path('app_combo_crud_pais') }}',
list_deprtamento:'{{ path('app_combo_list_crud_departamento') }}',
crud_departamento:'{{ path('app_combo_crud_departamento') }}'
};
	</script>

{% endblock %}
